#educacion  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    scroll-behavior: smooth;
}

#educacion-titulo{
    font-size: 1.5rem;
}

.certificado-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 1rem 0;
}

.boton {
    margin-top: 1em;
    align-self: flex-start;
    background-color: rgb(17,152,255);
    font-size: 0.7em;
    border-style: none;
    cursor: default;
    color: white;
    padding: 0.2rem;
    border-radius: 0.6rem;
}

.boton-dos {
    background-color: #23c898;
    font-size: 0.7em;
    border-style: none;
    cursor: default;
    color: white;
    padding: 0.2rem;
    border-radius: 0.6rem;
}

.boton-dos-aparte{
    align-self: flex-start;
    background-color: #23c898;
    margin-top: 1rem;
    font-size: 0.7em;
    border-style: none;
    cursor: default;
    color: white;
    padding: 0.2rem;
    border-radius: 0.6rem; 
}